<!--<mat-card class="mat-elevation-z8 mx-auto bg-white p-2 shadow-lg">
  <mat-card-title class="mb-4 text-xl font-semibold">File Upload</mat-card-title>

  <mat-card-content>-->
    <!-- File Selection -->
    <!--<input type="file" (change)="onFileSelected($event)" class="mb-4 w-full rounded-lg border border-gray-300 p-2" />

    <p *ngIf="!selectedFile" class="text-gray-600">No file selected</p>-->

    <!-- Display File Information in Grid -->
    <!--<div *ngIf="selectedFile" class="grid-cols-3 mt-4 grid items-center gap-4">
      <div class="col-span-2">
        <span class="font-medium text-gray-800">File:</span> {{ fileName }}
      </div>
      <div class="col-span-1">
        <span class="font-medium text-gray-800">Size:</span> {{ fileSize }}
      </div>
      <div class="col-span-1 text-right">
        <button mat-icon-button color="warn" (click)="onDeleteFile()" class="text-red-500 hover:text-red-700">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="mt-4 flex justify-between">
    <button mat-raised-button mat-dialog-close color="primary"class="px-4 py-2">Close</button>
    <button mat-raised-button color="accent" [disabled]="!selectedFile" class="px-4 py-2">Upload</button>
  </mat-card-actions>
</mat-card>-->

