<mat-card class="mat-elevation-z8 mx-auto border border-gray-300 bg-white p-4 shadow-lg">
  <mat-card-title class="mb-4 text-xl font-semibold">File Upload</mat-card-title>

  <mat-card-content>
    <input type="file" (change)="onFileSelected($event)" class="mb-4 w-full border border-gray-300 p-2" />

    <p *ngIf="!file" class="text-gray-600">
      No file selected
      <br>
      <span> <em>Maximum file size allowed is 5 MB </em></span>
    </p>

    <div *ngIf="file" class="grid-cols-3 mt-4 grid items-center gap-4 border border-[#1e3a8a] p-2">
      <div class="col-span-2">
        <span class="font-medium text-gray-800">File:</span> {{ fileName }}
      </div>
      <div class="col-span-2">
        <span class="font-medium text-gray-800">Size:</span> {{ fileSize }}
      </div>
      <div class="col-span-2">
        <span class="font-medium text-gray-800">File Extension:</span> {{ fileExtension }}
      </div>
      <div class="col-span-1 text-right">
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="mt-4 flex justify-evenly gap-6">
    <button mat-flat-button mat-dialog-close color="warn" class="px-4 py-2"> <mat-icon>cancel</mat-icon>Cancel</button>
    <button mat-flat-button color="accent" *ngIf="file" (click)="clearFile()" class="px-4 py-2">Remove File</button>
    <button mat-flat-button mat-dialog-close color="success" [disabled]="!file || isFileLarge" class="px-4 py-2" (click)="onUpload()"> <mat-icon>file_upload</mat-icon> Upload</button>
  </mat-card-actions>
</mat-card>

