<header>
  <p class="bg-gradient-to-r from-[#1e3a8a] to-[#14b8a6] p-2 font-medium text-white">
    Owners Management
  </p>
</header>

<div class="flex space-x-4 pl-4">
  <button mat-fab routerLink="/home" style="background-color: whitesmoke; color: #2c3e8f;">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h3 style="font-size: x-large;"> View Files</h3>
</div>
<mat-card class="p-4">
  <h2 class="mb-4 text-xl font-semibold">Owner Data</h2>
  <mat-card-content>
    <div class="flex flex-wrap space-x-4">
      <div class="flex items-center">
        <span class="font-medium">Account ID:</span>
        <span class="ml-2">{{accountId}}</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">Owner Name:</span>
        <span class="ml-2">"accountId"</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">Contact Name:</span>
        <span class="ml-2">"accountId"</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">Email:</span>
        <span class="ml-2">"accountId"</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">Phone:</span>
        <span class="ml-2">"accountId"</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">Address:</span>
        <span class="ml-2">"accountId"</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">City:</span>
        <span class="ml-2">"accountId"</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">State:</span>
        <span class="ml-2">"accountId"</span>
      </div>
      <div class="flex items-center">
        <span class="font-medium">Postal:</span>
        <span class="ml-2">"accountId"</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
