<section class="bg-white-100 p-4 rounded" style="flex-basis: 60%">
    <h2 class="mb-6 leading-relaxed">About</h2>
    <p class="mb-6 leading-relaxed"> Owners Management Hub provides a secure and user-friendly access point for authorized users to log into the system. Designed with simplicity and security in mind, this page ensures that only authorized personnel can access sensitive owner management data.</p>
    <hr class="mb-2">
    <h3> Important Reminder</h3>
    <ol class="list-decimal pl-5 mb-4">
        <li><strong>No Internet Needed:</strong> Works offline, no connectivity required.</li>
        <li><strong>Remote Work:</strong> Ideal for use in remote locations.</li>
        <li><strong>Secure Environments:</strong> Ensures data security without internet access.</li>
        <li><strong>Security Lockout:</strong>  After failed attempts, tool may lock out.</li>
    </ol>
   <hr class="mb-2">
    <h3> New User?</h3>
    <div class="flex flex-row space-x-2">
      <button mat-button style="background-color: orange; color: black;" (click)="openDialog()" class="underline text-orange-500 hover:text-orange-700">Click Here
      </button>
      <p class="text-sm text-gray-500"></p>if you are accessing this tool for the first time.
    </div>
  </section>
