<section>
  <div> 
    <div class="flex w-full justify-between">
      <mat-form-field appearance="outline">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </mat-form-field>
      <button mat-flat-button [routerLink]="['/new-owner']" color="primary">Add New Owner</button>
    </div>
      
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="border-b-4 border-gray-300"></tr>
      <!-- Table Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="odd:bg-gray-200 even:bg-white hover:bg-blue-200"></tr>

      <!-- No Data Row (when no data available) -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell py-4 text-center text-lg font-semibold text-gray-700" colspan="10">No data found!</td>
      </tr>

      <!-- Account ID Column -->
      <tr matColumnDef="accountId">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-lg font-semibold text-gray-700"> Account ID </th>
        <td mat-cell *matCellDef="let element"> {{element.accountId}} </td>
      </tr>

      <!-- Owner Name Column -->
      <tr matColumnDef="ownerName">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-lg font-semibold text-gray-700"> Owner Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
      </tr>

      <!-- Contact Name Column -->
      <tr matColumnDef="contactName">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-lg font-semibold text-gray-700"> Contact Name </th>
        <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
      </tr>

      <!-- Email Column -->
      <tr matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-lg font-semibold text-gray-700">Email Address</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </tr>

      <!-- Phone Column -->
      <tr matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-lg font-semibold text-gray-700"> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </tr>

      <!-- Address Column -->
      <tr matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="w-40 px-6 py-3 text-lg font-semibold text-gray-700"> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </tr>

      <!-- City Column -->
      <tr matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-lg font-semibold text-gray-700"> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </tr>

      <!-- State Column -->
      <tr matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef class="py-3text-gray-700 px-6 text-lg font-semibold"> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </tr>

      <!-- Zip Column -->
      <tr matColumnDef="zip">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-lg font-semibold text-gray-700"> Zip </th>
        <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
      </tr>

      <!-- Star Column -->
      <tr matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <app-menu [ownerData]="element"
                    (deleteOwner)="onDelete(element)"
                    (editOwner)="onEdit($event)"
                    (viewOwner)="onView($event)"
                    (viewFiles)="onViewFiles($event)">

          </app-menu>
        </td>
      </tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data found!</td>
      </tr>
    </table>
      <hr>
      <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10]" [pageSize]="pageSize" [length]="totalItems"
      aria-label="Select page">
      </mat-paginator>
  </div>
</section>
