<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onView()">
      <mat-icon>visibility</mat-icon>
      <span>View</span>
  </button>
  <button mat-menu-item (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
  </button>
  <button mat-menu-item (click)="onViewFiles()">
    <mat-icon>folder_open</mat-icon>
    <span>View Files</span>
</button>
  <button mat-menu-item (click)="onDelete()" style="color: red;">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
  </button>
</mat-menu>
