<header class="pl-2 pr-2 pt-1 text-white flex w-full justify-between bg-gradient-to-r from-[#1e3a8a] to-[#14b8a6] font-medium">
  <p> Owners Management</p>
  <figure class="space-x-2 p-2 flex flex-row">
    <img class="h-6 w-6 object-fill" src="assets/management.png" alt="Admin">
    <figcaption>
      Welcome {{username}}!
    </figcaption>
  </figure>
  <div class="space-x-2 flex items-center">
    <mat-icon>{{ isOnline ? 'wifi' : 'close' }}</mat-icon>
    <span>{{ isOnline ? 'Online' : 'Offline' }}</span>
  </div>
</header>
